body {
    margin: 0;
    background-color: #333 !important;
}

#readBoxContainer {
    width: 100vw;
    height: 75vh;
    position: relative;
}

#readBox {
    resize: none;
    margin:0;
    font-size: 24px;

    position: absolute;
    width: inherit;
    height: inherit;

    padding: 2rem;

    border: none;
}

.box-sizing-border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#controlContainer {
    padding: 0.5rem 0rem 0rem 0rem;
    display: flex;
    justify-content: center;
}

#controlContainer button {
    font-size: 0.7rem;
}

.ctrl-btn {
    margin: 0 0.5rem;
}

.bot-ctrl-btn {
    margin: 6px 0.5rem;
    height: 40px;
}

.ml-5 {
    margin-left: 80px;
}
  
/* Modal Content/Box */
.modal-content {
    position: absolute;

    background-color: yellowgreen;
    color: white;
    border-radius: 0.2rem;
    
    width: auto;
    height: auto;

    opacity: 1;

    top: 60vh;
    left: 0vw;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.modal-content-mobile {
    opacity: 0.5;

    top: 60vh;
    right: 10vw;
    left: auto;
}


/* The Modal (background) */
.modal-trans {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content-trans {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 2px;
    border: 1px solid #888;
    width: 90vw; /* Could be more or less, depending on screen size */
    height: 80vh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60px;
}

.modal-content-trans-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-trans-btns button {
    height: 40px;
    margin: 0 0.5rem;
    width: 120px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}


/* The Modal (background) */
.modal-save-word {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    opacity: 1;
}
  
/* Modal Content/Box */
.modal-content-save-word {
    background-color:rgba(0, 0, 0, 0.5);
    margin: 5% 2%; /* 15% from the top and centered */
    padding-bottom: 10px;
    border: 1px solid #888;
    border-radius: 6px;
    /* max-width: 50%; */

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 60px;
}

.modal-content-save-word-input-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-content-save-word-input-text-container input {
    min-width: 0;
    text-align: center;
}

.modal-content-save-word-input-text-container div[contenteditable] {
    text-align: center;
    border: none;
}

.modal-content-save-word-input-text-container #maziiBtn {
    margin-top: 10px;
}

.modal-content-save-word-input-text-container #meanTextbox {
    width: 320px;
    min-height: 8rem;
    resize: none;
}

.modal-content-save-word-input-text-container span {
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0.5rem;
}

.modal-content-trans-btns button {
    width: 80px;
}

#meanTextbox {
    height: 50px;
    width: 100%;
}

.d-none {
    display: none;
}

.invisible-item {
    position: absolute;
    height: 5px;
    opacity: 0;
}

#myTextAreaContainer {
    width: 100%;
    height: 100%;

    position: relative;
}

#myTextArea {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    cursor: pointer;
    touch-action: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: peru;
    border-radius: 2px;
}

#myTextArea span {
    width: 22px;
    height: 26px;
    margin: 0px;
    background-color: wheat;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

#myTextArea span.selected-1st {
    color: white;
    background-color: orange;
}

#myTextArea span.selected {
    color: white;
    background-color: dodgerblue;
}

*:not(input):not(textarea) {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#botControlContainer {
    display: flex;
    justify-content: center;
}

.bot-ctrl-btn.btn-width-60px {
    width: 60px;
}

/* The Modal (background) */
.modal-addDoc {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content-addDoc {
    background-color:rgba(0, 0, 0, 0.5);
    margin: 5% auto; /* 15% from the top and centered */
    padding: 12px;
    border: 1px solid #888;
    border-radius: 6px;
    width: 90vw; /* Could be more or less, depending on screen size */
    height: 80vh;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 35px 30px 35px auto 60px;
}

#dataDoc {
    resize: none;
}

.modal-content-addDoc span {
    display: block;
    color: whitesmoke;
    margin-top: 5px;
}

.modal-content-addDoc-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-addDoc-btns button {
    height: 40px;
    margin: 0 0.5rem;
    width: 120px;
}